body{
    background-color:darkgreen;
}
.instruct{
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
}
.btns{
    margin-top:50px;
}
.btn{
    width:150px;
    height:150px;
    border:solid;
    border-color: azure;
    border-width: 6px;
    border-radius: 25%;
    margin:15px;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
